/* Streamlit class names retrieved from Google Developer Tool (Inspect Element) */

/* Main Header */
.st-emotion-cache-10trblm {
    color: #73b023;
    text-align: center;
}

/* Body Background */
.st-emotion-cache-uf99v8 {
    background-color: #11111f;
}

/* Navigation Bar */
.st-emotion-cache-1avcm0n {
    background-color: #11111f;
}

/* Upload Image Box */
.st-emotion-cache-1erivf3 {
    border-style: solid;
    border-color: #73b023;
}

/* Upload Box Button */
.st-emotion-cache-19rxjzo {
    background-color: #73b023;
    color: #11111f;
}

/* Text under header text */
.st-emotion-cache-1qg05tj {
    justify-content: center;
}

/* Text under image */
.st-emotion-cache-ltfnpr {
    color: #73b023;
}

/* Upload image address */
.st-emotion-cache-1l4firl {
    color: grey;
}

.st-emotion-cache-nahz7x {
    text-align: center;
}